@model ShopRite.Core.DTOs.OrderDTO

    <h2 style= "color: red">Products that are out of stock</h2>
@foreach(var order in Model.ProductDetails)
{
    <ul>
        <li>Product name: @order.Name</li>
        <li>Product size: @order.Size</li>
        <li>Product size: @order.Price</li>
    </ul>
    <b></b>
}


